@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 20px;
}
.mainContainer {
  display: flex;
  // padding-left: 20%;
  }
  .leftmainDivs {
    width: calc(20% + 20px);
    margin-left: -10px;
    margin-right: -10px;
    position: sticky;
    top: 80px;
    height: calc(100vh - 50px);
    padding-top: 0;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
  }
  
  .leftTop {
    padding: 10px;
    flex-shrink: 0;
  }
  .leftDivs {
    overflow-y: scroll;
    height: 100%;
    padding: 10px;
    padding-top: 12px;
    // border-top: 1px solid rgba(0, 0, 0, 0.05);
    flex-grow: 1;
  }
  .rightmainDivs {
    width: 20%;
    flex-shrink: 0;
  }
* {
 outline: none;
 box-sizing: border-box;
}

:root {
 --body-bg-color: #e5ecef;
 --theme-bg-color: #fafafb;
 --body-font: "Poppins", sans-serif;
 --body-color: #2f2f33;
 --active-color: #0162ff;
 --active-light-color: #e1ebfb;
 --header-bg-color: #fff;
 --search-border-color: #efefef;
 --border-color: #d8d8d8;
 --alert-bg-color: #e8f2ff;
 --subtitle-color: #83838e;
 --inactive-color: #f0f0f0;
 --placeholder-color: #9b9ba5;
 --time-button: #fc5757;
 --level-button: #5052d5;
 --button-color: #fff;
}

.dark-mode {
 --body-bg-color: #1d1d1d;
 --theme-bg-color: #13131a;
 --header-bg-color: #1c1c24;
 --alert-bg-color: #292932;
 --body-color: #fff;
 --inactive-color: #292932;
 --time-button: #fff;
 --level-button: #fff;
 --active-light-color: #263d63;
 --border-color: #26262f;
 --search-border-color: #26262f;
}

::placeholder {
 color: var(--placeholder-color);
}

img {
 max-width: 100%;
}

html {
 box-sizing: border-box;
 -webkit-font-smoothing: antialiased;
}



body {
 background-color: var(--body-bg-color);
 font-family: var(--body-font);
 font-size: 15px;
 color: var(--body-color);
}

.dark-light svg {
 margin-right: 8px;
 width: 22px;
 cursor: pointer;
 fill: transparent;
 transition: 0.5s;
}

.dark-mode {
 .dark-light svg {
  fill: #ffce45;
  stroke: #ffce45;
 }
 .job-card svg {
  box-shadow: none;
 }
 .search.item {
  color: var(--body-color);
  border-color: var(--body-color);
 }
 .search-location,
 .search-job,
 .search-salary {
  svg {
   color: var(--body-color);
  }
 }
 .detail-button {
  background-color: var(--inactive-color);
  color: var(--subtitle-color);
 }
}


.logo {
 display: flex;
 align-items: center;
 font-weight: 600;
 font-size: 18px;
 cursor: pointer;
 text-decoration: none;
 color: inherit;
 img {
  width: 60px;
  margin-right: 12px;
 }
}

.header {
  position: sticky;
  z-index: 10;
  top: 0;
 display: flex;
 align-items: center;
 transition: box-shadow 0.3s;
 flex-shrink: 0;
 padding: 0 40px;
 white-space: nowrap;
 background-color: var(--header-bg-color);
 height: 60px;
 width: 100%;
 font-size: 14px;
 justify-content: space-between;
 &-menu a {
  text-decoration: none;
  color: var(--body-color);
  font-weight: 500;
  &:hover {
   color:var(--active-color);
  }
  &:not(:first-child) {
   margin-left: 30px;
  }
  &.active {
   color: var(--active-color);
  }
 }
}

.user-settings {
 display: flex;
 align-items: center;
 font-weight: 500;
 svg {
  width: 20px;
  color: #94949f;
 }
}

.user-menu {
 position: relative;
 margin-right: 8px;
 padding-right: 8px;
 border-right: 2px solid #d6d6db;
 &:before {
  position: absolute;
  content: "";
  width: 7px;
  height: 7px;
  border-radius: 50%;
  border: 2px solid var(--header-bg-color);
  right: 6px;
  top: -1px;
  background-color: var(--active-color);
 }
}
.user-profile {
 width: 32px;
 height: 32px;
 border-radius: 50%;
 object-fit: cover;
 margin-right: 10px;
}

.wrapper {
 width: 100%;
 display: flex;
 flex-direction: column;
 flex-grow: 1;
 scroll-behavior: smooth;
 padding: 30px 40px;
 overflow: auto;
}

.svg-icon {
  width:50px;
  height:50px;
}

.search-menu {
 height: 56px;
 white-space: nowrap;
 display: flex;
 flex-shrink: 0;
 align-items: center;
 background-color: var(--header-bg-color);
 border-radius: 8px;
 width: 100%;
 padding-left: 20px;
 div:not(:last-of-type) {
  border-right: 1px solid var(--search-border-color);
 }
}

.search-bar {
 height: 55px;
 width: 100%;
 position: relative;
 input {
  width: 100%;
  height: 100%;
  display: block;
  background-color: transparent;
  border: none;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56.966 56.966' fill='%230162ff'%3e%3cpath d='M55.146 51.887L41.588 37.786A22.926 22.926 0 0046.984 23c0-12.682-10.318-23-23-23s-23 10.318-23 23 10.318 23 23 23c4.761 0 9.298-1.436 13.177-4.162l13.661 14.208c.571.593 1.339.92 2.162.92.779 0 1.518-.297 2.079-.837a3.004 3.004 0 00.083-4.242zM23.984 6c9.374 0 17 7.626 17 17s-7.626 17-17 17-17-7.626-17-17 7.626-17 17-17z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: 14px;
  background-position: 0 50%;
  padding: 0 25px 0 305px;
 }
}

.search-location,
.search-job,
.search-salary {
 display: flex;
 align-items: center;
 width: 50%;
 font-size: 14px;
 font-weight: 500;
 padding: 0 25px;
 height: 100%;
 input {
  width: 100%;
  height: 100%;
  display: block;
  background-color: transparent;
  border: none;
 }
 svg {
  margin-right: 8px;
  width: 18px;
  color: var(--active-color);
  flex-shrink: 0;
 }
}

.search-button {
 background-color: var(--active-color);
 height: 55px;
 border: none;
 font-weight: 600;
 font-size: 14px;
 padding: 0 15px;
 border-radius: 0 8px 8px 0;
 color: var(--button-color);
 cursor: pointer;
 margin-left: auto;
}

.search.item {
 position: absolute;
 top: 10px;
 left: 25px;
 font-size: 13px;
 color: var(--active-color);
 border: 1px solid var(--search-border-color);
 padding: 8px 10px;
 border-radius: 8px;
 display: flex;
 align-items: center;
 svg {
  width: 12px;
  margin-left: 5px;
 }
 &:last-child {
  left: 185px;
 }
}

.main-container {
 display: flex;
 flex-grow: 1;
 padding: 30px 40px;
}

.search-type {
 width: 270px;
 display: flex;
 flex-direction: column;
 height: 100%;
 flex-shrink: 0;
}

.alert {
 background-color: var(--alert-bg-color);
 padding: 24px 18px;
 border-radius: 8px;
 &-title {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 8px;
 }
 &-subtitle {
  font-size: 13px;
  color: var(--subtitle-color);
  line-height: 1.6em;
  margin-bottom: 20px;
 }
 input {
  width: 100%;
  padding: 10px;
  display: block;
  border-radius: 6px;
  background-color: var(--header-bg-color);
  border: none;
  font-size: 13px;
 }
}

.search-buttons {
 border: none;
 color: var(--button-color);
 background-color: var(--active-color);
 padding: 8px 10px;
 border-radius: 6px;
 font-size: 13px;
 font-weight: 600;
//  margin-top: 14px;
}

.job-star {
  width: 34px;
  height: 34px;
}

.job-wrapper {
 padding-top: 20px;
}

.job-time {
 padding-top: 20px;
 &-title {
  font-size: 14px;
  font-weight: 500;
 }
}

.type-container {
 display: flex;
 align-items: center;
 color: var(--subtitle-color);
 font-size: 13px;
 label {
  margin-left: 2px;
  display: flex;
  align-items: center;
  cursor: pointer;
 }
 & + & {
  margin-top: 10px;
 }
}

.job-number {
 margin-left: auto;
 background-color: var(--inactive-color);
 color: var(--subtitle-color);
 font-size: 10px;
 font-weight: 500;
 padding: 5px;
 border-radius: 4px;
}

.job-style {
 display: none;
}

.job-style + label:before {
 content: "";
 margin-right: 10px;
 width: 16px;
 height: 16px;
 border: 1px solid var(--subtitle-color);
 border-radius: 4px;
 cursor: pointer;
}

.job-style:checked + label:before {
 background-color: var(--active-color);
 border-color: var(--active-color);
 background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23fff' stroke-width='3' stroke-linecap='round' stroke-linejoin='round' class='feather feather-check'%3e%3cpath d='M20 6L9 17l-5-5'/%3e%3c/svg%3e");
 background-position: 50%;
 background-size: 14px;
 background-repeat: no-repeat;
}

.job-style:checked + label + span {
 background-color: var(--active-light-color);
 color: var(--active-color);
}

.CenterFormCard {
  padding: 0 40px;
  position: relative;
}

// .form-top {
//   position: sticky;
//   top: 100px;
// }

.searched-jobs {
 display: flex;
 flex-direction: column;
 flex-grow: 1;
//  padding: 0 40px;
}

@keyframes slideY {
 0% {
  opacity: 0;
  transform: translateY(200px);
 } 
}

.searched {
 &-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  animation: slideY .6s both;
  //display: none;
 }
 &-show {
  font-size: 19px;
  font-weight: 600;
 }
 &-sort {
  font-size: 14px;
  color: var(--subtitle-color);
  .post-time {
   font-weight: 600;
   color: var(--subtitle-color);
  }
  .menu-icon {
   font-size: 9px;
   color: var(--placeholder-color);
   margin-left: 6px;
  }
 }
}

.job-cards {
 padding-top: 20px;
 grid-template-columns: repeat(3, 1fr);
 grid-column-gap: 25px;
 grid-row-gap: 25px;
 animation: slideY .6s both;
 vertical-align: middle;
}


 
.overview-card:hover {
 background: #2b2ecf;
 transition: none;
 transform: scale(1);
 svg {
  box-shadow: none;
 }
 .job-overview-buttons .search-buttons.time-button,
 .job-overview-buttons .search-buttons.level-button {
  background-color: #575ad8;
  color: #fff;
 }
 .job-card-title,
 .job-stat {
  color: #fff;
 }
 .job-card-subtitle,
 .job-day {
  color: #dedede;
 }
 .overview-wrapper .heart {
  color: #fff;
  border-color: #fff;
  &:hover {
   fill: red;
   stroke: red;
   transform: scale(1.1);
  }
 }
}

.detail-button {
 background-color: var(--active-light-color);
 color: var(--active-color);
 font-size: 11px;
 font-weight: 500;
 padding: 6px 8px;
 border-radius: 4px;
 & + & {
  margin-left: 4px;
 }
}

.job-card-buttons {
 display: flex;
 align-items: center;
 justify-content: space-between;
 width: 100%;
 margin-top: 4px;
}

.card-buttons,
.card-buttons-msg {
 padding: 10px;
 width: 100%;
 font-size: 12px;
 cursor: pointer;
}

.card-buttons {
 margin-right: 12px;
 &-msg {
  background-color: var(--inactive-color);
  color: var(--subtitle-color);
 }
}

.menu-dot {
 background-color: var(--placeholder-color);
 box-shadow: -6px 0 0 0 var(--placeholder-color),
  6px 0 0 0 var(--placeholder-color);
 width: 4px;
 height: 4px;
 border: 0;
 padding: 0;
 border-radius: 50%;
 margin-left: auto;
 margin-right: 8px;
}

.header-shadow {
 box-shadow: 0 4px 20px rgba(88, 99, 148, 0.17);
 z-index: 1;
}

@keyframes slide {
 0% {
  opacity: 0;
  transform: translateX(300px);
 } 
}

.job-overview {
 display: flex;
 flex-grow: 1;
 display: none;
 animation: slide .6s both;
 &-cards {
  display: flex;
  flex-direction: column;
  width: 330px;
  height: 100%;
  flex-shrink: 0;
 }
 &-card + &-card {
  margin-top: 20px;
 }
 &-buttons {
  display: flex;
  align-items: center;
  margin-top: 12px;
  .search-buttons {
   background-color: var(--inactive-color);
   font-size: 11px;
   padding: 6px 8px;
   margin-top: 0;
   font-weight: 500;
   &.time-button {
    color: var(--time-button);
    margin-right: 8px;
   }
   &.level-button {
    color: var(--level-button);
   }
  }
  .job-stat {
   color: var(--active-color);
   font-size: 12px;
   font-weight: 500;
   margin-left: auto;
  }
  .job-day {
   color: var(--subtitle-color);
   font-size: 12px;
   margin-left: 8px;
   font-weight: 500;
  }
 }

 .overview-wrapper {
  display: flex;
  align-items: center;
  svg:first-child {
   width: 42px;
   margin-right: 10px;
  }
  .heart {
   background: none;
   box-shadow: none;
   width: 24px;
   padding: 4px;
   color: var(--subtitle-color);
   border: 1px solid var(--border-color);
   margin-left: auto;
   margin-bottom: auto;
  }
 }
}

.overview-detail {
 .job-card-title,
 .job-card-subtitle {
  margin-top: 4px;
 }
 .job-card-subtitle {
  font-size: 12px;
  font-weight: 500;
 }
}

.job-explain {
 background-color: var(--header-bg-color);
 margin-left: 40px;
 border-radius: 0 0 8px 8px;
}

.job-bg {
 border-radius: 8px 8px 0 0;
 object-fit: cover;
 width: 100%;
 height: 180px;
 transition: .3s;
 position: relative;
}

.job-logos {
 margin-top: -30px;
 position: relative;
 margin-bottom: -36px;
 padding: 0 20px;
 svg {
  width: 66px;
  padding: 12px;
  background-color: #fff;
  border-radius: 10px;
  border: 4px solid var(--header-bg-color);
 }
}

.job-title-wrapper {
 display: flex;
 align-items: center;
 .job-card-title {
  font-size: 20px;
  margin-top: 0;
  font-weight: 600;
 }
}

.job-action {
 display: flex;
 align-items: center;
 margin-left: auto;
 svg {
  width: 32px;
  border: 1px solid var(--border-color);
  color: var(--subtitle-color);
  border-radius: 8px;
  padding: 6px;
  & + svg {
   margin-left: 12px;
  }
 }
}

.job-explain-content {
 padding: 50px 25px 30px;
}

.job-subtitle-wrapper {
 display: flex;
 align-items: center;
 margin-top: 20px;
 .posted {
  margin-left: auto;
 }
 .company-name {
  color: var(--active-color);
  font-weight: 600;
  font-size: 14px;
 }
 .comp-location,
 .posted {
  color: var(--subtitle-color);
  font-size: 12px;
  font-weight: 500;
 }
 .comp-location {
  position: relative;
  margin-left: 10px;
  &:before {
   content: "";
   width: 3px;
   height: 3px;
   border-radius: 50%;
   background-color: var(--placeholder-color);
   top: 49%;
   left: -8px;
   position: absolute;
  }
 }
 .app-number {
  color: var(--body-color);
  position: relative;
  margin-left: 12px;
  &:before {
   content: "";
   width: 3px;
   height: 3px;
   border-radius: 50%;
   background-color: var(--placeholder-color);
   top: 50%;
   left: -7px;
   position: absolute;
  }
 }
}

.explain {
 &-bar {
  margin-top: 20px;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  display: flex;
  height: 66px;
  padding: 0 16px;
  align-items: center;
  justify-content: space-between;
 }
 &-title {
  color: var(--subtitle-color);
  font-size: 12px;
  line-height: 40px;
  white-space: nowrap;
 }
 &-subtitle {
  font-size: 13px;
  font-weight: 500;
  margin-top: -2px;
  white-space: nowrap;
 }
 &-contents {
  height: 66px;
  & + & {
   border-left: 1px solid var(--border-color);
   padding-left: 16px;
  }
 }
}

.overview-text {
 margin-top: 30px;
 &-header {
  font-weight: 600;
  margin-bottom: 25px;
 }
 &-subheader {
  font-size: 13px;
  line-height: 2em;
 }
 &-item {
  font-size: 13px;
  position: relative;
  display: flex;
  & + & {
   margin-top: 20px;
  }
  &:before {
   content: "";
   border: 2px solid #61bcff;
   border-radius: 50%;
   height: 8px;
   width: 8px;
   margin-right: 8px;
   flex-shrink: 0;
  }
 }
}

.detail-page {
 .job-overview {
  display: flex;
 }
 .job-cards,
 .searched-bar {
  display: none;
 }
}


.hh-hide+div {
  position: absolute !important;
  opacity: 0 !important;
  clip: rect(0,0,0,0);
  pointer-events: none;
  z-index: -1;

}



/* //уродские стили димы Васькина */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
 outline: none;
 box-sizing: border-box;
}

:root {
 --body-bg-color: #e5ecef;
 --theme-bg-color: #fafafb;
 --body-font: "Poppins", sans-serif;
 --body-color: #2f2f33;
 --active-color: #0162ff;
 --active-light-color: #e1ebfb;
 --header-bg-color: #fff;
 --search-border-color: #efefef;
 --border-color: #d8d8d8;
 --alert-bg-color: #e8f2ff;
 --subtitle-color: #83838e;
 --inactive-color: #f0f0f0;
 --placeholder-color: #9b9ba5;
 --time-button: #fc5757;
 --level-button: #5052d5;
 --button-color: #fff;
}

.dark-mode {
 --body-bg-color: #1d1d1d;
 --theme-bg-color: #13131a;
 --header-bg-color: #1c1c24;
 --alert-bg-color: #292932;
 --body-color: #fff;
 --inactive-color: #292932;
 --time-button: #fff;
 --level-button: #fff;
 --active-light-color: #263d63;
 --border-color: #26262f;
 --search-border-color: #26262f;
}

::placeholder {
 color: var(--placeholder-color);
}

img {
 max-width: 100%;
}

html {
 box-sizing: border-box;
 -webkit-font-smoothing: antialiased;
}

body {
 background-color: var(--body-bg-color);
 font-family: var(--body-font);
 font-size: 15px;
 color: var(--body-color);
}

.dark-light svg {
 margin-right: 8px;
 width: 22px;
 cursor: pointer;
 fill: transparent;
 transition: 0.5s;
}

.dark-mode {
 .dark-light svg {
  fill: #ffce45;
  stroke: #ffce45;
 }
 .job-card svg {
  box-shadow: none;
 }
 .search.item {
  color: var(--body-color);
  border-color: var(--body-color);
 }
 .search-location,
 .search-job,
 .search-salary {
  svg {
   color: var(--body-color);
  }
 }
 .detail-button {
  background-color: var(--inactive-color);
  color: var(--subtitle-color);
 }
}

.job {
 display: flex;
 flex-direction: column;
 //max-width: 1400px;
// height: 100vh;
 margin: 0 auto;
  // overflow: hidden;
 background-color: var(--theme-bg-color);
}

.header {
 display: flex;
 align-items: center;
 transition: box-shadow 0.3s;
 flex-shrink: 0;
 padding: 0 40px;
 white-space: nowrap;
 background-color: var(--header-bg-color);
 height: 60px;
 width: 100%;
 font-size: 14px;
 justify-content: space-between;
 &-menu a {
  text-decoration: none;
  color: var(--body-color);
  font-weight: 500;
  &:hover {
   color:var(--active-color);
  }
  &:not(:first-child) {
   margin-left: 30px;
  }
  &.active {
   color: var(--active-color);
  }
 }
}



.user-menu {
 position: relative;
 margin-right: 8px;
 padding-right: 8px;
 border-right: 2px solid #d6d6db;
 &:before {
  position: absolute;
  content: "";
  width: 7px;
  height: 7px;
  border-radius: 50%;
  border: 2px solid var(--header-bg-color);
  right: 6px;
  top: -1px;
  background-color: var(--active-color);
 }
}
.user-profile {
 width: 32px;
 height: 32px;
 border-radius: 50%;
 object-fit: cover;
 margin-right: 10px;
}

.wrapper {
 width: 100%;
 display: flex;
 flex-direction: column;
 flex-grow: 1;
 scroll-behavior: smooth;
 padding: 30px 40px;
 overflow: auto;
}

.search-menu {
 height: 56px;
 white-space: nowrap;
 display: flex;
 flex-shrink: 0;
 align-items: center;
 background-color: var(--header-bg-color);
 border-radius: 8px;
 width: 100%;
 padding-left: 20px;
 div:not(:last-of-type) {
  border-right: 1px solid var(--search-border-color);
 }
}

.search-bar {
 height: 55px;
 width: 100%;
 position: relative;
 input {
  width: 100%;
  height: 100%;
  display: block;
  background-color: transparent;
  border: none;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56.966 56.966' fill='%230162ff'%3e%3cpath d='M55.146 51.887L41.588 37.786A22.926 22.926 0 0046.984 23c0-12.682-10.318-23-23-23s-23 10.318-23 23 10.318 23 23 23c4.761 0 9.298-1.436 13.177-4.162l13.661 14.208c.571.593 1.339.92 2.162.92.779 0 1.518-.297 2.079-.837a3.004 3.004 0 00.083-4.242zM23.984 6c9.374 0 17 7.626 17 17s-7.626 17-17 17-17-7.626-17-17 7.626-17 17-17z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: 14px;
  background-position: 0 50%;
  padding: 0 25px 0 305px;
 }
}

.search-location,
.search-job,
.search-salary {
 display: flex;
 align-items: center;
 width: 50%;
 font-size: 14px;
 font-weight: 500;
 padding: 0 25px;
 height: 100%;
 input {
  width: 100%;
  height: 100%;
  display: block;
  background-color: transparent;
  border: none;
 }
 svg {
  margin-right: 8px;
  width: 18px;
  color: var(--active-color);
  flex-shrink: 0;
 }
}

.search-button {
 background-color: var(--active-color);
 height: 55px;
 border: none;
 font-weight: 600;
 font-size: 14px;
 padding: 0 15px;
 border-radius: 0 8px 8px 0;
 color: var(--button-color);
 cursor: pointer;
 margin-left: auto;
}

.search.item {
 position: absolute;
 top: 10px;
 left: 25px;
 font-size: 13px;
 color: var(--active-color);
 border: 1px solid var(--search-border-color);
 padding: 8px 10px;
 border-radius: 8px;
 display: flex;
 align-items: center;
 svg {
  width: 12px;
  margin-left: 5px;
 }
 &:last-child {
  left: 185px;
 }
}

.main-container {
 display: flex;
 flex-grow: 1;
 padding-top: 30px;
}

.search-type {
 width: 270px;
 display: flex;
 flex-direction: column;
 height: 100%;
 flex-shrink: 0;
}

.alert {
 background-color: var(--alert-bg-color);
 padding: 24px 18px;
 border-radius: 8px;
 &-title {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 8px;
 }
 &-subtitle {
  font-size: 13px;
  color: var(--subtitle-color);
  line-height: 1.6em;
  margin-bottom: 20px;
 }
 input {
  width: 100%;
  padding: 10px;
  display: block;
  border-radius: 6px;
  background-color: var(--header-bg-color);
  border: none;
  font-size: 13px;
 }
}

.job-wrapper {
 padding-top: 20px;
}

.job-time {
 padding-top: 20px;
 &-title {
  font-size: 14px;
  font-weight: 500;
 }
}

.type-container {
 display: flex;
 align-items: center;
 color: var(--subtitle-color);
 font-size: 13px;
 label {
  margin-left: 2px;
  display: flex;
  align-items: center;
  cursor: pointer;
 }
 & + & {
  margin-top: 10px;
 }
}

.job-number {
 margin-left: auto;
 background-color: var(--inactive-color);
 color: var(--subtitle-color);
 font-size: 10px;
 font-weight: 500;
 padding: 5px;
 border-radius: 4px;
}

.job-style {
 display: none;
}

.job-style + label:before {
 content: "";
 margin-right: 10px;
 width: 16px;
 height: 16px;
 border: 1px solid var(--subtitle-color);
 border-radius: 4px;
 cursor: pointer;
}

.job-style:checked + label:before {
 background-color: var(--active-color);
 border-color: var(--active-color);
 background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23fff' stroke-width='3' stroke-linecap='round' stroke-linejoin='round' class='feather feather-check'%3e%3cpath d='M20 6L9 17l-5-5'/%3e%3c/svg%3e");
 background-position: 50%;
 background-size: 14px;
 background-repeat: no-repeat;
}

.job-style:checked + label + span {
 background-color: var(--active-light-color);
 color: var(--active-color);
}

.searched-jobs {
 display: flex;
 flex-direction: column;
 flex-grow: 1;
//  padding-left: 40px;
}

@keyframes slideY {
 0% {
  opacity: 0;
  transform: translateY(200px);
 } 
}

.searched {
 &-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  animation: slideY .6s both;
  /* //display: none; */
 }
 &-show {
  font-size: 19px;
  font-weight: 600;
 }
 &-sort {
  font-size: 14px;
  color: var(--subtitle-color);
  .post-time {
   font-weight: 600;
   color: var(--subtitle-color);
  }
  .menu-icon {
   font-size: 9px;
   color: var(--placeholder-color);
   margin-left: 6px;
  }
 }
}

.job-cards {
 padding-top: 20px; 
 grid-column-gap: 25px;
 grid-row-gap: 25px;
}

.job-card {
 padding: 10px 8px;
 background-color: var(--header-bg-color);
 border-radius: 8px;
 cursor: pointer;
 transition: .2s;
 width: 95%;
 vertical-align: middle;
//  text-align: center;
 margin-bottom: 20px;
 width: 100%;

 &:hover {
  transform: scale(1.02);
 }

 .job-main {
   display: flex;

 }

 .job-card-header {
   margin-right: 20px;
 }

 .job-name {
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
 }
//  svg {
//   width: 46px;
//   // padding: 10px;
//   // border-radius: 8px;
//  }
 &-title {
  font-weight: 600;
  margin-top: 16px;
  font-size: 14px;
 }
 &-subtitle {
  color: var(--subtitle-color);
  font-size: 13px;
  margin-top: 14px;
  line-height: 1.6em;
 }
 &-header {
  display: flex;
  align-items: flex-start;
 }
}

.overview-card:hover {
 background: #2b2ecf;
 transition: none;
 transform: scale(1);
 svg {
  box-shadow: none;
 }
 .job-overview-buttons .search-buttons.time-button,
 .job-overview-buttons .search-buttons.level-button {
  background-color: #575ad8;
  color: #fff;
 }
 .job-card-title,
 .job-stat {
  color: #fff;
 }
 .job-card-subtitle,
 .job-day {
  color: #dedede;
 }
 .overview-wrapper .heart {
  color: #fff;
  border-color: #fff;
  &:hover {
   fill: red;
   stroke: red;
   transform: scale(1.1);
  }
 }
}

.detail-button {
 background-color: var(--active-light-color);
 color: var(--active-color);
 font-size: 11px;
 font-weight: 500;
 padding: 6px 8px;
 border-radius: 4px;
 & + & {
  margin-left: 4px;
 }
}

.job-card-buttons {
 display: flex;
 align-items: center;
 justify-content: space-between;
 width: 100%;
 margin-top: 4px;
}

.card-buttons,
.card-buttons-msg {
 padding: 10px;
 width: 100%;
 font-size: 12px;
 cursor: pointer;
}

.card-buttons {
 margin-right: 12px;
 &-msg {
  background-color: var(--inactive-color);
  color: var(--subtitle-color);
 }
}

.menu-dot {
 background-color: var(--placeholder-color);
 box-shadow: -6px 0 0 0 var(--placeholder-color),
  6px 0 0 0 var(--placeholder-color);
 width: 4px;
 height: 4px;
 border: 0;
 padding: 0;
 border-radius: 50%;
 margin-left: auto;
 margin-right: 8px;
}

.header-shadow {
 box-shadow: 0 4px 20px rgba(88, 99, 148, 0.17);
 z-index: 1;
}

@keyframes slide {
 0% {
  opacity: 0;
  transform: translateX(300px);
 } 
}

.job-overview {
 display: flex;
 flex-grow: 1;
 display: none;
 animation: slide .6s both;
 &-cards {
  display: flex;
  flex-direction: column;
  width: 330px;
  height: 100%;
  flex-shrink: 0;
 }
 &-card + &-card {
  margin-top: 20px;
 }
 &-buttons {
  display: flex;
  align-items: center;
  margin-top: 12px;
  .search-buttons {
   background-color: var(--inactive-color);
   font-size: 11px;
   padding: 6px 8px;
   margin-top: 0;
   font-weight: 500;
   &.time-button {
    color: var(--time-button);
    margin-right: 8px;
   }
   &.level-button {
    color: var(--level-button);
   }
  }
  .job-stat {
   color: var(--active-color);
   font-size: 12px;
   font-weight: 500;
   margin-left: auto;
  }
  .job-day {
   color: var(--subtitle-color);
   font-size: 12px;
   margin-left: 8px;
   font-weight: 500;
  }
 }

 .overview-wrapper {
  display: flex;
  align-items: center;
  svg:first-child {
   width: 42px;
   margin-right: 10px;
  }
  .heart {
   background: none;
   box-shadow: none;
   width: 24px;
   padding: 4px;
   color: var(--subtitle-color);
   border: 1px solid var(--border-color);
   margin-left: auto;
   margin-bottom: auto;
  }
 }
}

.overview-detail {
 .job-card-title,
 .job-card-subtitle {
  margin-top: 4px;
 }
 .job-card-subtitle {
  font-size: 12px;
  font-weight: 500;
 }
}

.job-explain {
 background-color: var(--header-bg-color);
 margin-left: 40px;
 border-radius: 0 0 8px 8px;
}

.job-bg {
 border-radius: 8px 8px 0 0;
 object-fit: cover;
 width: 100%;
 height: 180px;
 transition: .3s;
 position: relative;
}

.job-logos {
 margin-top: -30px;
 position: relative;
 margin-bottom: -36px;
 padding: 0 20px;
 svg {
  width: 66px;
  padding: 12px;
  background-color: #fff;
  border-radius: 10px;
  border: 4px solid var(--header-bg-color);
 }
}

.job-title-wrapper {
 display: flex;
 align-items: center;
 .job-card-title {
  font-size: 20px;
  margin-top: 0;
  font-weight: 600;
 }
}

.job-action {
 display: flex;
 align-items: center;
 margin-left: auto;
 svg {
  width: 32px;
  border: 1px solid var(--border-color);
  color: var(--subtitle-color);
  border-radius: 8px;
  padding: 6px;
  & + svg {
   margin-left: 12px;
  }
 }
}

.job-explain-content {
 padding: 50px 25px 30px;
}

.job-subtitle-wrapper {
 display: flex;
 align-items: center;
 margin-top: 20px;
 .posted {
  margin-left: auto;
 }
 .company-name {
  color: var(--active-color);
  font-weight: 600;
  font-size: 14px;
 }
 .comp-location,
 .posted {
  color: var(--subtitle-color);
  font-size: 12px;
  font-weight: 500;
 }
 .comp-location {
  position: relative;
  margin-left: 10px;
  &:before {
   content: "";
   width: 3px;
   height: 3px;
   border-radius: 50%;
   background-color: var(--placeholder-color);
   top: 49%;
   left: -8px;
   position: absolute;
  }
 }
 .app-number {
  color: var(--body-color);
  position: relative;
  margin-left: 12px;
  &:before {
   content: "";
   width: 3px;
   height: 3px;
   border-radius: 50%;
   background-color: var(--placeholder-color);
   top: 50%;
   left: -7px;
   position: absolute;
  }
 }
}

.explain {
 &-bar {
  margin-top: 20px;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  display: flex;
  height: 66px;
  padding: 0 16px;
  align-items: center;
  justify-content: space-between;
 }
 &-title {
  color: var(--subtitle-color);
  font-size: 12px;
  line-height: 40px;
  white-space: nowrap;
 }
 &-subtitle {
  font-size: 13px;
  font-weight: 500;
  margin-top: -2px;
  white-space: nowrap;
 }
 &-contents {
  height: 66px;
  & + & {
   border-left: 1px solid var(--border-color);
   padding-left: 16px;
  }
 }
}

.overview-text {
 margin-top: 30px;
 &-header {
  font-weight: 600;
  margin-bottom: 25px;
 }
 &-subheader {
  font-size: 13px;
  line-height: 2em;
 }
 &-item {
  font-size: 13px;
  position: relative;
  display: flex;
  & + & {
   margin-top: 20px;
  }
  &:before {
   content: "";
   border: 2px solid #61bcff;
   border-radius: 50%;
   height: 8px;
   width: 8px;
   margin-right: 8px;
   flex-shrink: 0;
  }
 }
}

.detail-page {
 .job-overview {
  display: flex;
 }
 .job-cards,
 .searched-bar {
  display: none;
 }
}

.avatar {
  border: 1px solid var(--active-light-color);
  vertical-align: middle;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;

  }
}
.heart-like {
  /* width: 4px;
 height: 4px; */
 border: 0;
 padding: 0;
 border-radius: 50%;
 margin-left: 600px;
 margin-right: 8px;
  height: 25px;
  width: 25px;
  color: var(--subtitle-color);
  border: 1px solid var(--border-color);
}

/* LOGIN */

@import url(https://fonts.googleapis.com/css?family=Open+Sans);
.btn { display: inline-block; *display: inline; *zoom: 1; padding: 4px 10px 4px; margin-bottom: 0; font-size: 13px; line-height: 18px; color: #333333; text-align: center;text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75); vertical-align: middle; background-color: #f5f5f5; background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6); background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6)); background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6); background-image: -o-linear-gradient(top, #ffffff, #e6e6e6); background-image: linear-gradient(top, #ffffff, #e6e6e6); background-repeat: repeat-x; filter: progid:dximagetransform.microsoft.gradient(startColorstr=#ffffff, endColorstr=#e6e6e6, GradientType=0); border-color: #e6e6e6 #e6e6e6 #e6e6e6; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); border: 1px solid #e6e6e6; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); cursor: pointer; *margin-left: .3em; }
.btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] { background-color: #e6e6e6; }
.btn-large { padding: 9px 14px; font-size: 15px; line-height: normal; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
.btn:hover { color: #333333; text-decoration: none; background-color: #e6e6e6; background-position: 0 -15px; -webkit-transition: background-position 0.1s linear; -moz-transition: background-position 0.1s linear; -ms-transition: background-position 0.1s linear; -o-transition: background-position 0.1s linear; transition: background-position 0.1s linear; }
.btn-primary, .btn-primary:hover { text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); color: #ffffff; }
.btn-primary.active { color: rgba(255, 255, 255, 0.75); }
.btn-primary { background-color: #4a77d4; background-image: -moz-linear-gradient(top, #6eb6de, #4a77d4); background-image: -ms-linear-gradient(top, #6eb6de, #4a77d4); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6eb6de), to(#4a77d4)); background-image: -webkit-linear-gradient(top, #6eb6de, #4a77d4); background-image: -o-linear-gradient(top, #6eb6de, #4a77d4); background-image: linear-gradient(top, #6eb6de, #4a77d4); background-repeat: repeat-x; filter: progid:dximagetransform.microsoft.gradient(startColorstr=#6eb6de, endColorstr=#4a77d4, GradientType=0);  border: 1px solid #3762bc; text-shadow: 1px 1px 1px rgba(0,0,0,0.4); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5); }
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] { filter: none; background-color: #4a77d4; }
.btn-block { width: 100%; display:block; }

* { -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box; }

// html { 
//   width: 100%; height:100%; 
//   overflow:hidden; 
// }

body { 
  margin:0;
	width: 100%;
	height:100%;
	font-family: 'Open Sans', sans-serif;
	// background: #092756;
	// background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%),-moz-linear-gradient(top,  rgba(57,173,219,.25) 0%, rgba(42,60,87,.4) 100%), -moz-linear-gradient(-45deg,  #670d10 0%, #092756 100%);
	// background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -webkit-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -webkit-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
	// background: -o-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -o-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -o-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
	// background: -ms-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -ms-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -ms-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
	// background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), linear-gradient(to bottom,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), linear-gradient(135deg,  #670d10 0%,#092756 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3E1D6D', endColorstr='#092756',GradientType=1 );
}
.login { 
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -150px 0 0 -150px;
	width:300px;
	height:300px;
}
.login h1 { color: #fff; text-shadow: 0 0 10px rgba(0,0,0,0.3); letter-spacing:1px; text-align:center; }

input { 
	width: 100%; 
	margin-bottom: 10px; 
	background: rgba(0,0,0,0.3);
	border: none;
	outline: none;
	padding: 10px;
	font-size: 13px;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 4px;
	box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
	-webkit-transition: box-shadow .5s ease;
	-moz-transition: box-shadow .5s ease;
	-o-transition: box-shadow .5s ease;
	-ms-transition: box-shadow .5s ease;
	transition: box-shadow .5s ease;
}
input:focus { box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2); }


.company {
background-color: blue;  
}


//фильтр
.filterForm {

    display: flex;
    vertical-align: middle;

  }
.filterForm form{
  position:relative;
  display: flex;
  }

  .formInput{
    display:block;
    height:25px;
    border: 1px solid #ccc;
    border-radius:3px;
    padding:2px;
    margin:0 left;
    width: 200px;
  }
  #fruits{
    border: 1px solid #ccc;
    display:block;
    height:30px;
    border-radius:3px;
    width:100px;
    padding:3px;
    width: 175px;
  }

  .category-list {
    list-style: none;
  }

  .shadow {
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.05);
  }

  .border-radius {
    border-radius: 5px;
  }
  .purchase__button { border: none; outline: none !important; background-color: #f0f0f0; }

  @import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:300,400");

  *,
  *::after,
  *::before {
    box-sizing: border-box;
  }

  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  a {
    color: #2c3e50;
    text-decoration: none;
  }
  
  header {
    position: relative;
    height: 150px;
    padding-top: 100px;
  }
  
  header h1 {
    text-align: center;
    font-size: 2.4rem;
    font-weight: 300;
  }
  
  #app {
    display: flex;
  }
  
  .vue-form {
    font-size: 16px;
    width: 500px;
    padding: 15px 30px;
    border-radius: 4px;
    margin: 50px auto;
    width: 500px;
    background-color: #fff;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.3);
  }
  .vue-form fieldset {
    margin: 24px 0 0 0;
  }
  .vue-form legend {
    padding-bottom: 10px;
    border-bottom: 1px solid #ecf0f1;
  }
  .vue-form div {
    position: relative;
    margin: 20px 0;
  }
  .vue-form h4,
  .vue-form .label {
    color: #94aab0;
    margin-bottom: 10px;
  }
  .vue-form .label {
    display: block;
  }
  .vue-form input,
  .vue-form textarea,
  .vue-form select,
  .vue-form label {
    color: #2b3e51;
  }
  .vue-form input[type="text"],
  .vue-form input[type="email"],
  .vue-form textarea,
  .vue-form select,
  .vue-form legend {
    display: block;
    width: 100%;
    appearance: none;
  }
  .vue-form input[type="text"],
  .vue-form input[type="email"],
  .vue-form textarea,
  .vue-form select {
    padding: 12px;
    border: 1px solid #cfd9db;
    background-color: #ffffff;
    border-radius: 0.25em;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08);
  }
  .vue-form input[type="text"]:focus,
  .vue-form input[type="email"]:focus,
  .vue-form textarea:focus,
  .vue-form select:focus {
    outline: none;
    border-color: #2c3e50;
    box-shadow: 0 0 5px rgba(44, 151, 222, 0.2);
  }
  .vue-form .select {
    position: relative;
  }
  .vue-form .select::after {
    content: "";
    position: absolute;
    z-index: 1;
    right: 16px;
    top: 50%;
    margin-top: -8px;
    display: block;
    width: 16px;
    height: 16px;
    background: url("data:image/svg+xml;charset=utf-8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20width%3D%2216px%22%20height%3D%2216px%22%20viewBox%3D%220%200%2016%2016%22%20enable-background%3D%22new%200%200%2016%2016%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cg%3E%0D%0A%09%3Cpolygon%20fill%3D%22%232c3e50%22%20points%3D%220.9%2C5.5%203.1%2C3.4%208%2C8.3%2012.9%2C3.4%2015.1%2C5.5%208%2C12.6%20%09%22%2F%3E%0D%0A%3C%2Fg%3E%0D%0A%3C%2Fsvg%3E")
      no-repeat center center;
    pointer-events: none;
  }
  .vue-form select {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
    cursor: pointer;
  }
  .vue-form select::-ms-expand {
    display: none;
  }
  .vue-form .vue-form-list {
    margin-top: 16px;
  }
  .vue-form .vue-form-list::after {
    clear: both;
    content: "";
    display: table;
  }
  .vue-form .vue-form-list li {
    display: inline-block;
    position: relative;
    user-select: none;
    margin: 0 26px 16px 0;
    float: left;
  }
  .vue-form input[type="radio"],
  .vue-form input[type="checkbox"] {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    padding: 0;
    opacity: 0;
    z-index: 2;
  }
  .vue-form input[type="radio"] + label,
  .vue-form input[type="checkbox"] + label {
    padding-left: 24px;
  }
  .vue-form input[type="radio"] + label::before,
  .vue-form input[type="radio"] + label::after,
  .vue-form input[type="checkbox"] + label::before,
  .vue-form input[type="checkbox"] + label::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -8px;
    width: 16px;
    height: 16px;
  }
  .vue-form input[type="radio"] + label::before,
  .vue-form input[type="checkbox"] + label::before {
    border: 1px solid #cfd9db;
    background: #ffffff;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08);
  }
  .vue-form input[type="radio"] + label::before,
  .vue-form input[type="radio"] + label::after {
    border-radius: 50%;
  }
  .vue-form input[type="checkbox"] + label::before,
  .vue-form input[type="checkbox"] + label::after {
    border-radius: 0.25em;
  }
  .vue-form input[type="radio"] + label::after,
  .vue-form input[type="checkbox"] + label::after {
    background-color: #2c3e50;
    background-position: center center;
    background-repeat: no-repeat;
    box-shadow: 0 0 5px rgba(44, 151, 222, 0.4);
    display: none;
  }
  .vue-form input[type="radio"] + label::after {
    background-image: url("data:image/svg+xml;charset=utf-8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20width%3D%2216px%22%20height%3D%2216px%22%20viewBox%3D%220%200%2016%2016%22%20enable-background%3D%22new%200%200%2016%2016%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Ccircle%20fill%3D%22%23FFFFFF%22%20cx%3D%228%22%20cy%3D%228%22%20r%3D%223%22%2F%3E%0D%0A%3C%2Fsvg%3E");
  }
  .vue-form input[type="checkbox"] + label::after {
    background-image: url("data:image/svg+xml;charset=utf-8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2018.1.1%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0D%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20width%3D%2216px%22%20height%3D%2216px%22%20viewBox%3D%220%200%2016%2016%22%20enable-background%3D%22new%200%200%2016%2016%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cpolyline%20fill%3D%22none%22%20stroke%3D%22%23FFFFFF%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22square%22%20stroke-miterlimit%3D%2210%22%20points%3D%225%2C8%207%2C10%2011%2C6%20%22%2F%3E%0D%0A%3C%2Fsvg%3E");
  }
  .vue-form input[type="radio"]:focus + label::before,
  .vue-form input[type="checkbox"]:focus + label::before {
    box-shadow: 0 0 5px rgba(44, 151, 222, 0.6);
  }
  .vue-form input[type="radio"]:checked + label::after,
  .vue-form input[type="checkbox"]:checked + label::after {
    display: block;
  }
  .vue-form input[type="radio"]:checked + label::before,
  .vue-form input[type="radio"]:checked + label::after,
  .vue-form input[type="checkbox"]:checked + label::before,
  .vue-form input[type="checkbox"]:checked + label::after {
    animation: cd-bounce 0.3s;
  }
  .vue-form textarea {
    min-height: 120px;
    resize: vertical;
    overflow: auto;
  }
  .vue-form input[type="submit"] {
    border: none;
    background: #2c3e50;
    border-radius: 0.25em;
    padding: 12px 20px;
    color: #ffffff;
    font-weight: bold;
    float: right;
    cursor: pointer;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    appearance: none;
  }
  .no-touch .vue-form input[type="submit"]:hover {
    background: #42a2e1;
  }
  .vue-form input[type="submit"]:focus {
    outline: none;
    background: #2b3e51;
  }
  .vue-form input[type="submit"]:active {
    transform: scale(0.9);
  }
  .vue-form .error-message {
    height: 35px;
    margin: 0px;
  }
  .vue-form .error-message p {
    background: #e94b35;
    color: #ffffff;
    font-size: 1.4rem;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    border-radius: 0.25em;
    padding: 16px;
  }
  .vue-form .error {
    border-color: #e94b35 !important;
  }
  .vue-form .counter {
    color: #2c3e50;
    position: absolute;
    right: 0px;
    top: 0px;
    font-size: 10px;
    padding: 4px;
  }
  
  .debug {
    border-radius: 4px;
    margin: 50px auto;
    width: 500px;
    background-color: #000;
    padding: 50px;
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.3);
  }
  
  .debug pre {
    color: #ffffff;
    font-size: 18px;
    line-height: 30px;
    font-family: "Source Code Pro", monospace;
    font-weight: 300;
    white-space: pre-wrap;
  }
  
  @-webkit-keyframes cd-bounce {
    0%,
    100% {
      -webkit-transform: scale(1);
    }
    50% {
      -webkit-transform: scale(0.8);
    }
  }
  @-moz-keyframes cd-bounce {
    0%,
    100% {
      -moz-transform: scale(1);
    }
    50% {
      -moz-transform: scale(0.8);
    }
  }
  @keyframes cd-bounce {
    0%,
    100% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.8);
    }
  }
  